.container {
  width: 50px;
  height: 75px;
  margin-left: 6px;
  padding: 4px 2px;
  box-sizing: border-box;

  .icon {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-size: cover;
    fill: currentColor;
  }

  .title {
    width: 100%;
    margin-top: 4px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 2.4em;
    font-size: 14px;
  }

  &:hover {
    background-color: $gray-hover;
    border-radius: 4px;
  }
}