$fontWeight: '400';
$fontWeightStrong: '500';

$borderRadius: '3px';
$borderRadiusSmall: '2px';

$fontSize: '14px';
$fontSizeMini: '12px';
$fontSizeTiny: '12px';
$fontSizeSmall: '14px';
$fontSizeMedium: '14px';
$fontSizeLarge: '15px';
$fontSizeHuge: '16px';

$heightMini: '16px';// private now, it's too small
$heightTiny: '22px';
$heightSmall: '28px';
$heightMedium: '34px';
$heightLarge: '40px';
$heightHuge: '46px';
