
// 居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 竖向居中可换行
@mixin flex-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

// 单行文本溢出显示 ...
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}